body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #babea7;
}

 about {
    background-color: #b9dbbb; /* Light Green */
    color: #62a367; /* Dark Green text */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.profile-pic {
    width: 100px;  /* Adjust width */
    height: auto;  /* Maintains aspect ratio */
    border-radius: 50%; /* Makes it circular */
    display: block;
    margin: 20px auto; /* Centers the image */
    box-shadow: 0px 4px 8px rgba(14, 12, 12, 0.2); /* Adds shadow */
}


header {
    background: #6f8355;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(19, 17, 17);
    text-decoration: none;
}

section {
    padding: 20px;
    background: rgb(171, 192, 137);
    margin: 20px;
    border-radius: 8px;
}

h2 {
    color: #0c0808;
}



